<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.mcgrady.xproject.zhihu">

    <application>
        <activity
            android:name=".mvp.ui.activity.ZhihuDailyHomeActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />

        <activity android:name=".mvp.ui.activity.ZhihuDailyDetailActivity"/>

        <meta-data
            android:name="com.mcgrady.xproject.zhihu.app.GlobalConfig"
            android:value="ConfigModule"/>

    </application>

</manifest>