<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mcgrady.test" >


    <application
        android:name=".TestApp"
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

    </application>

</manifest>
